@import '../../App.scss';

.language-container {
    position: absolute;
    top: 25px;
    right: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .language-header {
        width: 66px;
        display: flex;
        flex-direction: row;
        gap: 6px;
        align-items: center;

        justify-content: space-between;
    }

    .language-select {
        width: 71px;
        height: 78px;
        box-shadow: 0px 3px 6px #00000029;
        cursor: pointer;

        .language-option {
            font-size: 16px;
            color: initial;
        }
        .language-option:hover {
            background: $gray-light-color
        }
    }


}