@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400&display=swap');

* {
    font-family: 'Jost', sans-serif;
}

$primary-color: #FFFAF1;
$secondary-color: #F1F2FF;
$accent-color: #459DE9;
$gray-light-color: #F2F2F2;
$gray-mid-color: #C5C5C5;
$gray-dark-color: #8D8D8D;

$chart-warm-color: #FFA25B;
$gray-dark-color: #5B8CFF;
$chart-default-color: #FFF4F4;

.app-layout {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px;

    .app-language {

    }

    .app-seacrh {

    }

    .app-panels {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 16px
    }
}

